@import 'colors';

// Background
$background-primary: $blue-ui-contrast1;
$background-primary-gradient: $blue-ui-contrast2;
$background-secondary: $blue-ui-contrast-what-a-mess;
$background-tertiary: $blue-ui-contrast3;

// Text
$text-primary: $blue-ui-contrast6;
$text-secondary: $blue-ui-contrast4;
//$text-tertiary: $blue-ui-contrast-what-a-mess;

// Icons
$icon-primary: $blue-ui-contrast6;