// Black/White
$ui-contrast1: #ffffff;
$ui-contrast2: #d2d2d2;
$ui-contrast3: #b2b2b2;
$ui-contrast4: #7c7c7c;
$ui-contrast5: #4b4b4b;
$ui-contrast6: #313131;
$ui-contrast7: #000000;

// Blue/White
$blue-ui-contrast1: #939ec0;
$blue-ui-contrast2: #6c80c5;
$blue-ui-contrast3: #4964c4;
$blue-ui-contrast-what-a-mess: #b6ccff;
$blue-ui-contrast4: #193dc0;
$blue-ui-contrast6: #002bc5;