@import 'colors';

// Background
$background-primary: $ui-contrast6;
$background-primary-gradient: $ui-contrast6;
$background-secondary: $ui-contrast5;
$background-tertiary: $ui-contrast4;

// Text
$text-primary: $ui-contrast2;
$text-secondary: $ui-contrast4;
//$text-tertiary: $ui-contrast3;

// Icons
$icon-primary: $ui-contrast2;
