@import 'colors';

// Background
$background-primary: $ui-contrast1;
$background-primary-gradient: $ui-contrast1;
$background-secondary: $ui-contrast3;
$background-tertiary: $ui-contrast4;

// Text
$text-primary: $ui-contrast7;
$text-secondary: $ui-contrast4;
//$text-tertiary: $ui-contrast6;

// Icons
$icon-primary: $ui-contrast6;